.dhl{
    position: relative;
    width: 100%;
    margin-top: -34px;
    margin-bottom: -60px;
    z-index: 10;
}
.dhl .dhll{
    display: flex;
	align-items: center;
	justify-content: center;   
}

.dhl .dhll ul{
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;   
    height: 80px;
    width: 700px;
    background-color: rgba(252, 238, 255, 0.466);
    border-radius: 15px;
    box-shadow: 0px 0px 8px 1px #2c2c2c78;
}


.dhll ul li{
    width: 170px;
    height: 68px;
    margin: 80px 0 0 -4px;
    color: #F0F8FF;
    font-weight: bolder;
    text-align: center;
}



.dhll ul li div a{
    /* visibility: inherit; */
    text-shadow: 3px 2px 5px #14141488;
    color: rgb(255, 255, 255);
    /* display: block; */
    width: 104px;

    border-top: 20px solid #6308cb00;
    padding-top: 10px;
    display: inline;
    transition: .5s;
}

.dhll ul li div a:hover{
    cursor:pointer;
    border-top: 10px solid #6308cbfd;
    padding-top: 6px;
    letter-spacing: 4px;
    padding-bottom:15px ;
    font-size: 18px;
    color: #ffffffdb;
    border-radius: 0px;
    display: inline;
    /* box-shadow: 0px 0px 8px 4px rgb(238, 238, 238); */
}

.wsxt{
 padding-right:50px;
}

.xt{
    margin-top: -2.4px;
    margin-left: -14px;
    width:34px;
    height: 34px;
    background: url(../img/wsxt.png) no-repeat center;
    border: 3px solid rgb(124, 0, 138);
    border-radius: 50%;
}

.wsxtd{
    margin-top: 34px;
    margin-left: 20px;
    width:100px;
    height: 34px;
    background-color:rgb(124, 0, 138); ;
    border: 3px solid rgb(124, 0, 138, 0.907);
    border-radius: 20px;
}

.wsxtd a{
    position: absolute;
    color: aliceblue;
    margin-left: 44px;
    margin-top: -30px;
    font-size: 15px;
    /* box-shadow: 0px 0px 8px 1px #2c2c2c78; */
}

